Repository GoogleContainerTools/jib, pull requests merged in 2018-05, with the labels that each got.

#238 Refactors out common plugin configuration.
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/AuthConfiguration.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/BuildImageTask.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/DockerContextTask.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/ImageConfiguration.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/JibExtension.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/JibPlugin.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/TaskConfiguration.java
  jib-gradle-plugin/src/test/java/com/google/cloud/tools/jib/gradle/BuildImageTaskTest.java
  jib-gradle-plugin/src/test/java/com/google/cloud/tools/jib/gradle/DockerContextTaskTest.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/DockerContextMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/JibPluginConfiguration.java
Labels: jib-gradle-plugin, jib-maven-plugin

#224 Proposal: Address Base Image Reproducibility
  proposals/reproducible_base_image.md
Labels: help wanted, proposal

#236 Proposal: Align jib-maven-plugin configuration with jib-gradle-plugin.
  proposals/maven_configuration_v2.md
Labels: proposal

#239 Refactors and moves exception building to jib-core.
  jib-core/src/main/java/com/google/cloud/tools/jib/frontend/HelpfulMessageBuilder.java
  jib-core/src/test/java/com/google/cloud/tools/jib/frontend/HelpfulMessageBuilderTest.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/BuildImageTask.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/DockerContextTask.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/DockerContextMojo.java
Labels: jib-core, jib-gradle-plugin, jib-maven-plugin

#244 Refactors main class inferrence to remove code duplication.
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/BuildImageTask.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/DockerContextTask.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/ProjectProperties.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/TaskConfiguration.java
  jib-gradle-plugin/src/test/java/com/google/cloud/tools/jib/gradle/ProjectPropertiesTest.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/DockerContextMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/ProjectProperties.java
  jib-maven-plugin/src/test/java/com/google/cloud/tools/jib/maven/ProjectPropertiesTest.java
Labels: jib-gradle-plugin, jib-maven-plugin

#247 Adds instructions for running jib-gradle-plugin tests to CONTRIBUTING.
  CONTRIBUTING.md
Labels: documentation

#245 Implements Proposal: Address Base Image Reproducibility
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildAndCacheApplicationLayersStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildConfiguration.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CacheWriter.java
  jib-core/src/main/java/com/google/cloud/tools/jib/image/ImageReference.java
  jib-core/src/main/java/com/google/cloud/tools/jib/image/ReproducibleLayerBuilder.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/BuildConfigurationTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CacheWriterTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/image/ReproducibleLayerBuilderTest.java
  jib-gradle-plugin/CHANGELOG.md
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/BuildImageTask.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/JibExtension.java
  jib-gradle-plugin/src/test/java/com/google/cloud/tools/jib/gradle/JibExtensionTest.java
  jib-maven-plugin/CHANGELOG.md
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/JibPluginConfiguration.java
  proposals/archives/README.md
  proposals/archives/reproducible_base_image.md
Labels: jib-core, jib-gradle-plugin, jib-maven-plugin

#252 Break apart container configuration build and push step
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildContainerConfigurationStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildImageSteps.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/PushContainerConfigurationStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/hash/CountingDigestOutputStream.java
Labels: jib-core

#255 Moves Maven Settings credentials retrieval to separate class.
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/MavenSettingsServerCredentials.java
  jib-maven-plugin/src/test/java/com/google/cloud/tools/jib/maven/MavenSettingsServerCredentialsTest.java
Labels: jib-maven-plugin

#248 Separates BuildConfiguration image credentials between base and target.
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildConfiguration.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildImageSteps.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/RegistryCredentials.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/BuildConfigurationTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStepTest.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/BuildImageTask.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/MavenSettingsServerCredentials.java
  jib-maven-plugin/src/test/java/com/google/cloud/tools/jib/maven/BuildImageMojoTest.java
  jib-maven-plugin/src/test/java/com/google/cloud/tools/jib/maven/MavenSettingsServerCredentialsTest.java
Labels: jib-core

#256 Moves BuildImageSteps exception handling to jib-core.
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/AuthenticatePushStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildConfiguration.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildImageSteps.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/PushBlobStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/PushContainerConfigurationStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/PushImageStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/frontend/BuildImageStepsExecutionException.java
  jib-core/src/main/java/com/google/cloud/tools/jib/frontend/BuildImageStepsRunner.java
  jib-core/src/main/java/com/google/cloud/tools/jib/frontend/CacheDirectoryCreationException.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/BuildConfigurationTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStepTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/frontend/BuildImageStepsRunnerTest.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
Labels: jib-core, jib-maven-plugin

#259 Adds build exception help messages to Gradle.
  jib-core/src/main/java/com/google/cloud/tools/jib/frontend/BuildImageStepsRunner.java
  jib-core/src/main/java/com/google/cloud/tools/jib/frontend/HelpfulSuggestions.java
  jib-core/src/test/java/com/google/cloud/tools/jib/frontend/BuildImageStepsRunnerTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/frontend/HelpfulMessageBuilderTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/frontend/HelpfulSuggestionsTest.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/BuildImageTask.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/DockerContextTask.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/HelpfulSuggestionsProvider.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/JibExtension.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/ProjectProperties.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/DockerContextMojo.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/HelpfulSuggestionsProvider.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/ProjectProperties.java
Labels: jib-core, jib-gradle-plugin, jib-maven-plugin

#265 Attach build to docker daemon functionality to gradle task
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/builder/BuildDockerStepsIntegrationTest.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildContainerConfigurationStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildDockerSteps.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildTarballAndLoadDockerStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/PushImageStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/frontend/BuildDockerStepsRunner.java
  jib-gradle-plugin/src/integration-test/java/com/google/cloud/tools/jib/gradle/JibPluginIntegrationTest.java
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/BuildDockerTask.java
Labels: jib-core, jib-gradle-plugin

#269 Refactor configuration build/push/tar build steps to reduce duplicate code
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildDockerSteps.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildImageStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildImageSteps.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildTarballAndLoadDockerStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/PushContainerConfigurationStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/PushImageStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/docker/json/DockerLoadManifestTemplate.java
  jib-core/src/main/java/com/google/cloud/tools/jib/tar/TarStreamBuilder.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/BuildTarballAndLoadDockerStepTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/docker/json/DockerLoadManifestTemplateTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/image/ImageReferenceTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/tar/TarStreamBuilderTest.java
Labels: jib-core

#272 Fixes Maven integration tests.
  jib-maven-plugin/pom.xml
Labels: jib-maven-plugin

#273 Changes integration tests to end with IntegrationTest.
  jib-maven-plugin/pom.xml
  jib-maven-plugin/src/test/java/com/google/cloud/tools/jib/maven/BuildDockerMojoIntegrationTest.java
  jib-maven-plugin/src/test/java/com/google/cloud/tools/jib/maven/BuildImageMojoIntegrationTest.java
  jib-maven-plugin/src/test/java/com/google/cloud/tools/jib/maven/DockerContextMojoIntegrationTest.java
Labels: jib-maven-plugin

#275 Remove Command class usage outside of tests
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/Command.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildTarballAndLoadDockerStep.java
  jib-maven-plugin/pom.xml
Labels: jib-core, jib-maven-plugin

#279 Fixes JibPluginIntegrationTest.
  jib-gradle-plugin/src/integration-test/java/com/google/cloud/tools/jib/gradle/JibPluginIntegrationTest.java
Labels: jib-gradle-plugin

#240 Proposal: Improve Jib Log Output
  proposals/log_output_v2.md
Labels: proposal

#281 Throw error if gradle version is outdated
  jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/JibPlugin.java
  jib-gradle-plugin/src/test/java/com/google/cloud/tools/jib/gradle/JibPluginTest.java
  jib-gradle-plugin/src/test/resources/plugin-test/build.gradle
Labels: jib-gradle-plugin
