Repository GoogleContainerTools/jib, pull requests merged in 2018-02, with the labels that each got.

#60 Update README.md
  README.md
Labels: documentation

#94 Adds note about 'mvn clean' in README.
  README.md
Labels: documentation

#95 Removes CacheChecker.
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildAndCacheApplicationLayersStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/PullAndCacheBaseImageLayerStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CacheChecker.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CacheReader.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/BuildAndCacheApplicationLayersStepTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CacheCheckerTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CacheReaderTest.java
Labels: jib-core

#88 Enables Kokoro integration testing for jib-core.
  CONTRIBUTING.md
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/registry/DockerCredentialRetrieverIntegrationTest.java
  jib-core/src/integration-test/resources/credentials.json
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/DockerCredentialRetriever.java
  kokoro/continuous.bat
  kokoro/continuous.sh
Labels: jib-core

#102 Adds parser for Docker config.
  CHANGELOG.md
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialRetrieverIntegrationTest.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/http/Authorizations.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerConfigCredentialRetriever.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialRetriever.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/NonexistentDockerCredentialHelperException.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/NonexistentServerUrlDockerCredentialHelperException.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/RegistryCredentials.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/json/DockerConfigTemplate.java
  jib-core/src/test/java/com/google/cloud/tools/jib/registry/credentials/DockerConfigCredentialRetrieverTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/registry/credentials/json/DockerConfigTemplateTest.java
  jib-core/src/test/resources/json/dockerconfig.json
Labels: jib-core

#97 Moves image running logic to core and uses jib-integration-testing GCP account.
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/builder/BuildImageStepsIntegrationTest.java
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/builder/DockerImageRunner.java
  jib-maven-plugin/pom.xml
  jib-maven-plugin/src/test/java/com/google/cloud/tools/jib/maven/BuildImageMojoIT.java
  jib-maven-plugin/src/test/resources/project/pom.xml
Labels: jib-core, jib-maven-plugin

#104 Uses Docker config in RetrieveRegistryCredentialsStep.
  CHANGELOG.md
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialRetrieverIntegrationTest.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerConfigCredentialRetriever.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialRetriever.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialRetrieverFactory.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStepTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/registry/credentials/DockerConfigCredentialRetrieverTest.java
Labels: jib-core

#107 Renames DockerCredentialRetriever to DockerCredentialHelper.
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialHelperIntegrationTest.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerConfigCredentialRetriever.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialHelper.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/DockerCredentialHelperFactory.java
  jib-core/src/main/java/com/google/cloud/tools/jib/registry/credentials/RegistryCredentials.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/RetrieveRegistryCredentialsStepTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/registry/credentials/DockerConfigCredentialRetrieverTest.java
Labels: jib-core

#109 Fixes CacheReaderTest.
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CacheReaderTest.java
Labels: jib-core

#111 Adds enableReproducibleBuilds parameter to jib-maven-plugin.
  examples/helloworld/pom.xml
  jib-core/src/main/java/com/google/cloud/tools/jib/image/LayerBuilder.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
Labels: jib-maven-plugin

#110 Updates README and CHANGELOG for v0.1.2.
  CHANGELOG.md
  README.md
Labels: documentation

#113 Removes reproducibility from upcoming goals in README.
  README.md
Labels: documentation

#114 Refactors BuildConfiguration.
  jib-core/src/integration-test/java/com/google/cloud/tools/jib/builder/BuildImageStepsIntegrationTest.java
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildConfiguration.java
  jib-core/src/main/java/com/google/cloud/tools/jib/image/ImageReference.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/BuildConfigurationTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/image/ImageReferenceTest.java
  jib-maven-plugin/src/main/java/com/google/cloud/tools/jib/maven/BuildImageMojo.java
Labels: jib-core

#115 Removes CachedLayerType.
  jib-core/src/main/java/com/google/cloud/tools/jib/builder/BuildAndCacheApplicationLayersStep.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/Cache.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CacheMetadata.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CacheMetadataTranslator.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CacheReader.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CacheWriter.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CachedLayerType.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/CachedLayerWithMetadata.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/json/CacheMetadataLayerObjectTemplate.java
  jib-core/src/main/java/com/google/cloud/tools/jib/cache/json/CacheMetadataTemplate.java
  jib-core/src/test/java/com/google/cloud/tools/jib/builder/BuildAndCacheApplicationLayersStepTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CacheMetadataTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CacheMetadataTranslatorTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CacheReaderTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CacheWriterTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/CachedLayerWithMetadataTest.java
  jib-core/src/test/java/com/google/cloud/tools/jib/cache/json/CacheMetadataTemplateTest.java
  jib-core/src/test/resources/cache/metadata.json
  jib-core/src/test/resources/json/metadata.json
  jib-core/src/test/resources/json/metadata_corrupted.json
  jib-core/src/test/resources/json/metadata_windows.json
Labels: jib-core
